@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=Quicksand:wght@300;400;500;600;700&family=Red+Hat+Display:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat";
    
}

.navbar{
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0%;
    width: 100vw;
}
.navbar a{
    float: right;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2vmin;
    padding: 14px 16px;
    border-right: solid 1px white;
}

.navbar a:hover{
    background-color: white;
    color: black;
   }

.navbar .icon{
    display: none;
    size: 4vmin;
}
/*LANDING PAGE SECTION*/
#landing-page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-height: 50vh;
    background-color: black;
    padding-top: clamp(1.875rem, 0.9375rem + 4.1667vw, 3.125rem);
}
#landing-page .container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: clamp(18rem, 5.2500rem + 56.6667vw, 35rem);
    justify-content: space-between;
    align-items: center;
}
#landing-page  .tag{
   height: clamp(18rem, 5.2500rem + 56.6667vw, 35rem);
    width: 30%;
    background-color: black;
    color: white;
}
#landing-page  .tag h3{
    font-family: "Cinzel";
    font-weight: 300;
    font-size: clamp(1.85rem, -0.1375rem + 8.8333vw, 4.5rem);
    padding-top: clamp(6.5rem, 1.2500rem + 23.3333vw, 13.5rem);
}
#landing-page  .picture-1{
   height: clamp(18rem, 5.2500rem + 56.6667vw, 35rem);
    width: 70%;
    background-image: url("images/die-neue-mercedes-benz-s-klasse-der-automobile-masstab-bei-effizienz-und-komfort.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#landing-page  .picture-2{
    height: clamp(18rem, 5.2500rem + 56.6667vw, 35rem);
    width: 70%;
    background-image: url("images/2021-Mercedes-Star-In-Ring-100th-Anniversary-9.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#landing-page .tag-1{
   text-align: right;
}
#landing-page .tag-2{
   text-align: center;
}
#landing-page .container-image{
    width:100%;
    height: 100%;
}

#landing-page .landing-page-tag{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1 100%;
    min-height: 8vh;
    background-color: black;
    color: white;
    justify-content: space-evenly;
    padding-bottom: clamp(1.25rem, 0.3125rem + 4.1667vw, 2.5rem);
}
#landing-page .landing-page-tag .info-tag{
    min-height: 8vh;
    width: 30%;
}
#landing-page .info-tag{
    padding: 10px;
    border-right: solid white 1px;
}
#landing-page .info-tag:last-child{
    border-right: none;
}
#landing-page .info-tag p{
    font-weight: 300;
    font-size: clamp(0.65rem, 0.4250rem + 1.0000vw, 0.95rem);
    line-height: clamp(1rem, 0.4750rem + 2.3333vw, 1.7rem);
    padding-top: 15px;
    text-align: left;
}

/*s-class section*/
#black{
    display: flex;
    flex-direction: column;
    height: clamp(23rem, 8.0000rem + 66.6667vw, 43rem);
}
.black-car{
    display: flex;
    flex-direction: row;
    height: clamp(15rem, 0.0000rem + 66.6667vw, 35rem);
    width: 100%;
    margin: auto;
    background-image: url(https://cdn.motor1.com/images/mgl/VpPAB/s1/2021-mercedes-benz-s-class-front.jpg);
    background-size: cover;
    background-position:center;
}
/*VIDEO SECTION*/
#video-container{
    display: flex;
    flex-direction: row;
    min-height: 30vh;
    width: 100%;
    background-color: black;
    align-items: center;
}
#video-container .video-tag{
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    width: 40%;
}
#video-container .video-tag h5{
    font-family: "Cinzel";
    font-weight: 300;
    padding-top: clamp(1.5rem, 0.3750rem + 5.0000vw, 3rem);
    font-size: clamp(1rem, -0.5000rem + 6.6667vw, 3rem);
    color: white;
    text-align: center;
}
#video-container .video-tag p{
    font-family: "Cinzel";
    font-weight: 300;
    padding-top: clamp(5.5rem, 3.6250rem + 8.3333vw, 8rem);
    font-size: clamp(1rem, 0.4000rem + 2.6667vw, 1.8rem);
    color: white;
    text-align: center;
}
#video-container .iframe-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    
}
#video-container iframe{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-right: 15px;
}
/*FOOTER SECTION*/

#footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 20vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding:0  30px 20px 30px;
    margin: 50px 0 50px 0;
}
#footer .footer-col{
    width: 25%;
}
#footer .footer-col  h6{
    font-size: clamp(0.95rem, 0.5375rem + 1.8333vw, 1.5rem);
    font-weight: 400; 
    padding-bottom: clamp(1.25rem, 0.6875rem + 2.5000vw, 2rem);
}
#footer .footer-col ul li{
    font-weight: 300;
    font-size: clamp(0.65rem, 0.4250rem + 1.0000vw, 0.95rem);
    line-height: clamp(1rem, 0.4750rem + 2.3333vw, 1.7rem);
    text-decoration: none;
    list-style: none;
}
#footer .footer-main-col{
    min-width: 50%;
    text-align: center;
    margin: 0 20px;
    border-right: solid 1px black;
    border-left: solid 1px black;

}
#footer .inputabs{
    min-width: 90%;
    padding: 13px 0 13px 0px;
    margin: 20px 0 0 0;
    border-radius: 25px;
    border: solid 1px black;
    background-color: white;
    color: black;
    font-weight: 300;
    font-size: clamp(0.85rem, 0.7375rem + 0.5000vw, 1rem);
   text-align: center;
}
#footer .submit{
    min-width: 50%;
    padding: 10px 5px ;
    margin: 20px 0 0 0;
    border-radius: 25px;
    border: solid 2px black; 
    font-weight: 300;
    font-size: clamp(0.85rem, 0.5125rem + 1.5000vw, 1.3rem);
    text-align: center;
    padding: 10px 35px;
    background-color: red;
    color: white;
}
